* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 320px;
  background-color: #3d2d2d;
  height: 80px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logo1{
  height:4em;
  width:4em;
  border-radius:50% ;
  padding:5px;
  margin-right:53em;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-links {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #3d2d2d;
  border-radius: 5px;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s 1s; 
  transition-property: opacity;
  transition-duration: 0.5s;
}

.nav-links ul {
  list-style: none;
  padding: 0;
}

.nav-links ul li {
  margin-bottom: 5px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-icon:hover + .nav-links,
.nav-links:hover {
  display: block;
  opacity: 1;
  transition-delay: 0s;
}
.footer-columns {
  background-color: rgb(53, 47, 47);
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
}


.message-column {
  margin-right: 20px;
}

.sitemap-column {
  opacity: 0;
}

.contact-info {
  font-size: 0.5em;
}

.copy-right{
  background-color: black;
  color:white;
  text-align: left;
  font-size: 8px;
}


.email1{
  color:white;
  text-decoration: none;
}

.message
{
  padding-right:1em;
  line-height: 50px;
}

.input-1,
.input-2{
  margin-bottom: 10px;
  padding:5px;
  border-radius: 8px;
  border:none;
  display: block;
}
.input-2{
  height:100px;

}
.main{
  margin-bottom:900px;
}
.logo{
  height:4em;
  width:4em;
  border-radius:50% ;
  padding:5px;
  margin-right:0;
}
/* Exclusivley home styles */
.header-hom {
  width: 320px;
  background-color:transparent;
  height: 80px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
}

.logo1-hom{
  height:4em;
  width:4em;
  border-radius:50% ;
  padding:5px;
  margin-right:13em;
}

.nav-hom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.menu-icon-hom {
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.nav-links-hom {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: #3d2d2d;
  border-radius: 5px;
  padding: 10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s 1s; 
  transition-property: opacity;
  transition-duration: 0.5s;
}

.nav-links-hom ul {
  list-style: none;
  padding: 0;
}

.nav-links-hom ul li {
  margin-bottom: 5px;
}

.nav-links-hom ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-icon-hom:hover + .nav-links-hom,
.nav-links-hom:hover {
  display: block;
  opacity: 1;
  transition-delay: 0s;
}

.footer-columns-hom{
  background-color: rgb(53, 47, 47 ) ;
  margin-top: -5px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  color:white;
  padding:20px;

}

.copy-right-hom{
  background-color: black;
  color:white;
  text-align: left;
  font-size: 8px;
}
.sitemap-column-hom{
  opacity:0;
}
.contact-info-hom{
  font-size: 0.5em;

}
.email1-hom{
  color:white;
  text-decoration: none;
}

.message-hom
{
  padding-right:0.5em;
  line-height:1;
}
.message-column-hom{
  margin-right: 20px;
}
.input-1-hom,
.input-2-hom{
  margin-bottom: 10px;
  padding:5px;
  border-radius: 8px;
  border:none;
  width:8.9em

}
.input-2-hom{
  height:100px;

}

.main-hom{
  margin-bottom:900px;
}
.logo-hom{
  height:3.5em;
  width:3.5em;
  border-radius:50% ;
  padding:5px;
  margin-right:0;
}



.background-hom {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.link-button-hom {
  text-decoration: none;
  color: rgb(241, 211, 175);
  padding: 10px 30px;
  background-color: #3d2d2d;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  border-radius: 8px;
}

.link-button-hom:hover {
  color: orange;
}
.content-hom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}




/*EXCLUSIVLEY ABOUT STYLES*/
.first-section-ab{
  background-color: rgb(203, 200, 196);
  width:100%;
  height:30em;
  }
  .my-image-ab {
    height: 22em;
    border-radius: 50%;
    margin-top: 4em;
   
  }
  
  
  .hero-text-ab {
    color: white;
    font-size: 5em;
    margin-left: 450px; 
    margin-top: -280px; 
    width:400px
  }
  
  
  .caption-ab{
  color:white;
  font-size: 0.5em;
  padding-left: 15em;
  position: relative;
  line-height: 0%;
  
  }
  .addis-ab,
  .rice-ab,
  .aau-ab {
  width:55em;
  height:20em;
  padding-left: 30px;
  object-fit: cover;
  border-radius: 8px;
  padding-top: 20px;
  }
  
  .html-ab,
  .js-ab,
  .editing-ab,
  .photography-ab,
  .java-ab,
  .python-ab {
    width: 22em;
    height: 22em;
    object-fit: cover;
    border-radius: 50%;
  
  }
  .hsk-ab,
  .medal-ab,
  .certificate-ab {
   
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 30%;
  padding: 4em;
  
  }
  .profile-ab{
    display: inline-block;
    padding-left:70px;
  }
  .my-story-ab{
    font-family: Arial;
    font-size: 3em;
    text-align: center;
    color:antiquewhite;
    padding-top:1em ;
  }
  .story-ab{
    padding-left: 30px;
    font-size: 0.5em;
    padding-right: 40px;
  }
  .story-ab::first-letter{
    font-size: 2em;
    color:antiquewhite;
  
  }
  
  
  .skill-container-ab {
    text-align: center;
    flex: 1 0 calc(50% - 300px);
  
  }
  
  .skills-ab{
    margin-top: -40px;
    background-color: rgb(203, 200, 196);
    margin-bottom: 10px;
    padding-bottom: 50px;
  }
  
  .my-skills-ab {
    color: rgb(52, 46, 46);
    font-family: Arial;
    font-size: 3.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .skill-name-ab {
    color: white;
    font-size: 2em;
  }
  
 
  
  .bio-ab{
    background-image: linear-gradient( 120deg ,rgba(0, 0, 0, 0.859),rgb(62, 56, 41), rgb(2, 2, 2));
    margin-top: -40px;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:3.5em;
  }
  .achievements-ab{
    background-color: #000000;
    margin-top: -40px;
    margin-bottom:0px;
    padding:30px;
  
    
  }
  .title-ab{
    color:rgb(247, 189, 0);
    text-align: center;
  
  }
  .skills-ab{
    background-color:  rgb(203, 200, 196);
  }
.box-ab {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
}

.box-ab > * {
  flex: 1 1 calc(50% - 2.5em);
}

.box-2-ab {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.box-2-ab > * {
  flex: 1 calc(15% - 1.5em);
}

.title-ab{
  color: rgb(250, 243, 235);
  text-align: center;

}
.achievement-ab{
  text-align: center;
  font-size: 13px;
  color:antiquewhite;
  display: inline-block;

}

.description-ab{
  font-size:16px;
  color:#3d2d2d;
}



/* EXCLUSIVLEY HOBBIES STYLES */

.meditations-hob,
.daily-cover-hob,
.childhood-hob
{
  width:200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.istanbul-hob,
.china-hob,
.japan-hob,
.russia-hob,
.israel-hob,
.greece-hob{
  height:150px;
  width:150px;
  object-fit: cover;
  border-radius: 50%;
}
.hobbies1-hob {
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.859), rgb(62, 56, 41), rgb(2, 2, 2));
  color: white;
  padding-bottom: 5em;
}

.hobbies-title-hob {
  font-size: 5em;
  line-height: 1; 
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  color: bisque;
}
.hobby-list-hob{
  margin-top: -350px;
  line-height: 2;
  margin-left: 230px;
  font-size: larger;

  
}
.hobbies-hob{
  font-size: 2em;
  display: inline-block;
}

.sidebar1-hob {
  background-color: rgb(203, 200, 196);
  height: 23em;
  width: 70%;
  border-radius: 8px;
  padding-left: 10%;
  margin: 0 auto; 
  box-shadow: 2px 3px 9px rgba(240, 199, 158, 0.859);
}

.hobby-hob{
  width:500px;
  padding-left: 200px;
  object-fit: cover;
  height:23em;
  margin-left: -300px;
  align-self: center;
  border-radius: 8px;

}

.box-3-hob {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.book-covers-hob {
  flex: 0 0 calc(33.33% - 1em); 
  padding: 20px;
  box-sizing: border-box;
  

}




.cover1-hob {
  animation: scaleAnimation 1.5s ease-in-out infinite alternate 0.3s;
}

.cover2-hob {
  animation: scaleAnimation 1.5s ease-in-out infinite alternate 0.6s;
}

.cover3-hob {
  animation: scaleAnimation 1.5s ease-in-out infinite alternate 0.9s;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.caption-2-hob{
  font-size: 30px;
 padding-left: 5%;

}

.reading-hob{
  padding-top: 40px;
  padding-left: 2em;
}
.reading-para-hob{
  padding-left: 20px;
  font-size: 0.5em;
  padding-bottom: 30px;
}
.authors-list-hob{
  text-align: center;
  font-size: 0.5em;
  
}

.table-hob {
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  margin-top: 15px;
}

.table-hob th,
.table-hob td {
  border: 1px solid antiquewhite;
  padding: 8px;
  text-align: left;
}

.table-hob th {
  background-color: antiquewhite;
  color: #333;
  font-weight: bold;
}
.code-hob{
  color: antiquewhite;
  font-size: 15px;

}
.sidebar2-hob {
  background-color: rgb(203, 200, 196);
  height: 33em; 
  width: 72%;
  border-radius: 8px;
  padding-left: 10%;
  margin: 0 auto; 
  box-shadow: 2px 3px 9px rgba(240, 199, 158, 0.859);
}

.box-4-hob {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5%;
  position: fixed;
}

.travel-hob {
  flex: 0 0 calc(33% - 1em); 
  display: inline-block;
  margin-bottom: 10px;
}

.hobbies3-hob{
  font-size: 2.5em;
  display:block;
  padding-left: 15%;
  padding-bottom: 0.5em;
  padding-top: 1em;
}
.video-editing-hob{
  background-color:  rgb(203, 200, 196);
  color:rgb(81, 74, 64);
  padding-bottom: 20px;

}
.video1-hob{
  width:80%;
  padding-left: 10%;
  
  border-radius: 30px;
}
.video-title-hob{
  text-align: center;
  padding-top:1em ;
  padding-bottom: 1em;
  font-size: 50px;
  color:rgb(255, 255, 255);
  
}
.fav-song-hob {
  color: white;
  font-size: 1.8em;
  display: inline-block;
  padding: 10px;
  width:500px;

}

.sound-hob {
  display: inline-block;
  padding: 10px;
  vertical-align: top; 

 }
 .photo1-hob,
 .photo2-hob,
 .photo3-hob,
 .photo4-hob{
  height:400px;
  width:300px;
  border-radius: 30%;
  object-fit:cover;
  

 }
 .photo1-hob{
  animation:  scaleAnimation 1.5s ease-in-out infinite alternate 0.25s;
 }
 .photo2-hob{
  animation:  scaleAnimation 1.5s ease-in-out infinite alternate 0.5s;
 }
 .photo3-hob{
  animation:  scaleAnimation 1.5s ease-in-out infinite alternate 0.75s;
 }

 .photo4-hob{
  animation:  scaleAnimation 1.5s ease-in-out infinite alternate 1s;
 }
 @keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
 .photography-1-hob{
  background-color: black;
  color:white;

 }
 .box-5-hob{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding-left: 2%;
  padding-bottom: 10%;
  align-items: flex-start; 
}

.photos-hob {
  flex: 0 0 calc(50% - 1.5em);
  padding: 0.75em;
  box-sizing: border-box; 
}


.title7-hob{
  text-align: center;
  padding:1em;
  color: rgb(244, 237, 227);
  font-size: 3em;
  box-sizing: border-box;
}


.caption-3-hob{
  font-size: 30px;
 padding: 5%;
color: antiquewhite;

}

.place-hob{
  color:#3d2d2d;
  font-weight: bolder;
  font-size: large;
}





/*EXCLUSIVLEY INTERESTS STYLES*/
.inter-section-int{
  background-color: rgb(203, 200, 196);
  width:100%;
  height:72em;
}

.myint-title-int{
  text-align:center;
  color:white;
  padding-top: 0.9em;
  padding-bottom: 0.7em;
  font-size: 5em;
}

.ml-int,
.neuro-int,
.psych-int,
.stoic-int{
  width:350px;
  height:350px;
  object-fit: cover;
  border-radius: 30%;
}

.box-6-int {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding-left: 3.5em;
  gap: 20px; 
}

.interest-int {
  flex: 1 1 calc(50% - 20px); 
  max-width: calc(50% - 20px); 
  margin-bottom: 10px;
  margin-right: 10px;
}
.int-desc-int{
  color:#3d2d2d;
  font-size: 1.5em;
  font-weight: bold;
}
.my-interest-int{
  color:antiquewhite;
  font-family: Arial;
  font-size: 2em;
  text-align: center;
  padding-top:1em ;
}
.my-interest2-int{
  color:#3d2d2d;
  font-family: Arial;
  font-size: 2em;
  text-align: center;
  padding-top:1em ;
}
.story-int{
  padding-left: 30px;
  font-size: 0.5em;
  padding-right: 40px;
}
.story2-int{
  padding-left: 30px;
  font-size: 0.5em;
  padding-bottom: 2em;
  padding-left: 3.5em;
 
  
}
.int1-int{
  background-image: linear-gradient( 120deg ,rgba(0, 0, 0, 0.859),rgb(62, 56, 41), rgb(2, 2, 2));
  margin-top: -40px;
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom:50px
}
.int2-int{
  background-color: rgb(203, 200, 196);
  margin-top: -40px;
  color:#3d2d2d;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom:30px;
}
.machine-vid-int,
.neuron-vid-int,
.cognition-vid-int,
.marcus-vid-int{
  width:90%;
  height:400px;
  object-fit: cover;
  padding-top: 2.5em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  padding-bottom:0.5em;
}
.emphasis-int{
  color:antiquewhite;
  font-style: italic;
  padding:0.2em;
  padding-top: 0.5em;
}



/*EXCLUSIVLEY INSPIRATIONS STYLES */

.main-section-ins{
  background-color:  rgb(203, 200, 196);
}
.ins-title-ins{
    text-align:center;
    color:white;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 5em;
  }
  .box7-ins {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    gap: 2em;
  }
  
  .inspiration-ins {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.859), rgb(62, 56, 41), rgb(2, 2, 2));
    width: 650px;
    height: 87em;
    border-radius: 10%;
    margin-bottom: 2em;
  }
  
.inspir-title-ins{
  text-align:center;
  color:white;
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-size: 5em;
}
.insp-name-ins{
  color: antiquewhite;
  font-family: Arial;
  font-size: 2.5em;
  text-align: center;
  padding-top:1em ;
  padding-bottom: 0.5em;
}
.inner-image-ins{
  width:600px;
  height:600px;
  object-fit: cover;
  border-radius: 30%;
  padding-left: 3.5%;
  padding-top:5% ;
}
.inner-para-ins{
  padding-left: 30px;
  font-size: 0.5em;
  padding-right: 40px;
  color:white;
  font-size: 2em;
  padding-bottom: 2em;
}
.more-link-ins{
  color: rgb(244, 228, 47);
  text-decoration: none;
  font-style: italic;
  padding-left: 30%;
  font-size: 1.5em;
  
}
.more-link-ins:hover{
  color:orange;
  text-decoration: underline;
}
.more-link:active{
  color:white;

}
.quote-ins{
  padding-left: 30px;
  font-size: 0.5em;
  padding-right: 40px;
  color:white;
  font-size: 2em;
  padding-bottom: 1em;
  font-style: italic;

}